Q1. my_tuple = ( (1, 2, 3), [4, 5, 6], ('apple', 'banana', 'cherry'), [7, 8, 9] )
•	Print all elements from my_tuple on a new line (using for loop)
•	Create a new tuple by concatenating the first and last elements of my_tuple

(a). Print all elements from my_tuple on a new line (using for loop)

In [4]:
my_tuple = ( (1, 2, 3), [4, 5, 6], ('apple', 'banana', 'cherry'), [7, 8, 9] )
for loop in my_tuple:
    print(loop)

(1, 2, 3)
[4, 5, 6]
('apple', 'banana', 'cherry')
[7, 8, 9]

(b). Create a new tuple by concatenating the first and last elements of my_tuple

In [6]:
my_tuple1 = ( (1, 2, 3), [4, 5, 6], ('apple', 'banana', 'cherry'), [7, 8, 9] )
my_tuple2 = ( (2,4,5), [8, 9, 7],('Hatum'))
tuple = my_tuple1 + my_tuple2
print(tuple)

((1, 2, 3), [4, 5, 6], ('apple', 'banana', 'cherry'), [7, 8, 9], (2, 4, 5), [8, 9, 7], 'Hatum')

Q2. inventory = { "The Great Gatsby": {"price": 10.99, "quantity": 5}, "Rich dad poor dad": {"price": 8.99, "quantity": 8}, "Harry Potter": {"price": 12.50, "quantity": 2}, }
•	Add a new book in inventory using method and get all book titles using method
•	Remove a book if it's out of stock

a. Add a new book in inventory using method and get all book titles using method

In [21]:
inventory = { "The Great Gatsby": {"price": 10.99, "quantity": 5}, "Rich dad poor dad": {"price": 8.99, "quantity": 8}, "Harry Potter": {"price": 12.50, "quantity": 2}, }
inventory.update({"The data engineer": {"price":15.99, "quantity": 5}})
print(inventory)

{'The Great Gatsby': {'price': 10.99, 'quantity': 5}, 'Rich dad poor dad': {'price': 8.99, 'quantity': 8}, 'Harry Potter': {'price': 12.5, 'quantity': 2}, 'The data engineer': {'price': 15.99, 'quantity': 5}}

b. Remove a book if it's out of stock

In [22]:
print(inventory)

{'The Great Gatsby': {'price': 10.99, 'quantity': 5}, 'Rich dad poor dad': {'price': 8.99, 'quantity': 8}, 'Harry Potter': {'price': 12.5, 'quantity': 2}, 'The data engineer': {'price': 15.99, 'quantity': 5}}

In [40]:
inventory.pop('Harry Potter')

{'price': 12.5, 'quantity': 2}

In [41]:
print(inventory)

{'The Great Gatsby': {'price': 10.99, 'quantity': 5}, 'Rich dad poor dad': {'price': 8.99, 'quantity': 8}, 'The data engineer': {'price': 15.99, 'quantity': 5}}

Q3. An ecommerce store stores information about its products in a nested dictionary. The outer dictionary uses product IDs as keys, and the inner dictionary stores product details like name, category, price, and stock quantity.
products = { 101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50}, 102: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200}, 103: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30} }
•	Increase the stock of the "Shirt" product (add 50 more units)
•	Add a new product (e.g., "Smartphone")

In [7]:
products = { 101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50}, 102: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200}, 103: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30} }
products.update({"name": "Shirt", "category": "Apparel", "price": 50, "stock": 250})
for i in products:
    print(i)

101
102
103
name
category
price
stock

Q4. You are given a list that contains some duplicate items. Remove the duplicates by converting the list to a set.
shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]

In [19]:
shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]
shopping_list = {"apple", "banana", "apple", "orange", "banana", "grape"}
print(shopping_list)

{'apple', 'banana', 'orange', 'grape'}

Q5. You are managing a list of students enrolled in two different courses. You need to perform various set operations to understand the student enrollment. Task: Create two sets: one for students in "Course A" and one for students in "Course B". Find the students who are in "Course A" but not in "Course B" (difference). Find students who are only in one of the two courses (symmetric difference). course_a = {"John", "Alice", "Bob", "David"} course_b = {"Alice", "Eve", "Charlie", "David"}
•	Find students who are in Course A but not in Course B (difference)
•	Find students who are only in one of the two courses (symmetric difference)

Q6. Write a Python program that calculates the sum of all even numbers between 1 and 50 (inclusive) using a for loop.
Hint
1.	Initialize a variable to hold the sum (e.g., sum_of_evens).
2.	Use a for loop to iterate through all numbers from 1 to 50.
3.	Inside the loop, check if the number is even.
4.	If the number is even, add it to sum_of_evens.
5.	After the loop finishes, print the total sum of all even numbers between 1 and 50.

In [20]:
sum_of_evens = 0
for num in range(1, 51):
    if num % 2 == 0:
        sum_of_evens += num
print("The sum of all even numbers between 1 and 50 is:", sum_of_evens)

The sum of all even numbers between 1 and 50 is: 650

Q7. Write a Python program that prints the multiplication table for a given number (between 1 and 10) using a for loop.

Hint:
1.	Ask the user for a number between 1 and 10 .
2.	Use a for loop to iterate through the numbers from 1 to 10.
3.	For each iteration, calculate the product of the given number and the current number in the loop.
4.	Print the result in a readable format (e.g., 5 x 1 = 5).
5.	Ensure the program works correctly for any number between 1 and 10.

In [23]:
number = int(input("Enter a number between 1 and 10: "))
if 1 <= number <= 10:
     for i in range(1, 11):
        product = number * i
        print(f"{number} x {i} = {product}")
else:
    print("Invalid input! Please enter a number between 1 and 10.")

Enter a number between 1 and 10:  9

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

Q8. Power of a Number
Write a Python program that takes a number and prints the powers of the number (starting from 1 to 10) using a while loop. For example, if the user inputs 3, the output should be:
3^1 = 3
3^2 = 9
3^3 = 27
... up to 3^10.

In [25]:
number = int(input("Enter the number: "))
if 1 <= number <= 10:
     for i in range(1, 11):
        product = number * i
        print(f"{number} x {i} = {product}")
else:
    print("Invalid input! Please enter a number between 1 and 10.")

Enter the number:  3

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30